:root {
  --body-bg-color: #1f1f1f;
  --square-color: linear-gradient(#303030, #757575);
  --circle-color: linear-gradient(#c2e7db, #63a791);
  --triangle-color: linear-gradient(#e1d3c9, #bea791);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Montserrat, sans-serif;
  background: var(--body-bg-color);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.square,
.circle,
.triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
}

.square {
  background: var(--square-color);
}

.circle {
  background: var(--circle-color);
  border-radius: 50%;
}

.triangle {
  background: var(--triangle-color);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.container {
  padding: 2.5rem;
  height: 92%;
  width: 46%;
  border-radius: 3rem;
  box-shadow: inset 0.3rem 0.3rem 0.2rem rgba(243, 239, 239, 0.256);
  backdrop-filter: blur(2rem);
  border: 0.1rem solid rgb(255, 255, 255);
  z-index: 3;
}

.login-part {
  margin-left: 4rem;
}

.name h1 {
  background: linear-gradient(
    9deg,
    rgb(113, 72, 159) 0%,
    rgb(50, 35, 117) 9%,
    rgb(60, 50, 144) 20%,
    rgb(47, 68, 155) 24%,
    rgb(32, 89, 133) 35%,
    rgb(46, 141, 156) 44%,
    rgb(49, 148, 143) 50%,
    rgb(50, 151, 112) 56%,
    rgb(60, 168, 123) 75%,
    rgb(114, 202, 81) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Zeyada;
  font-size: 5rem;
  filter: brightness(2.5);
}

.welcome-msg h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
  margin-bottom: 2rem;
}

.arrorra {
  font-weight: 700;
  color: #f1c27d;
}

.email,
.password,
.confirm-password {
  color: #fff;
  font-weight: 400;
  font-size: 2.25rem;
  letter-spacing: 0.15rem;
  margin-bottom: 0.5rem;
}

.email::after,
.password::after,
.confirm-password::after {
  content: "*";
  color: #e32;
}

#user-email,
#user-password,
#confirm-user-password {
  border-radius: 1rem;
  background-color: #222;
  border: 1px solid #fff;
  color: #fff;
  letter-spacing: 0.2rem;
  padding: 1.5rem;
  height: 3rem;
  width: 46%;
  margin-bottom: 1.5rem;
  text-overflow: ellipsis;
}

#confirm-user-password {
  margin-bottom: 1rem;
}

.password,
.confirm-password {
  margin-top: 0.5rem;
}

#user-email::placeholder,
#user-password::placeholder,
#confirm-user-password::placeholder {
  font-size: 1.6rem;
}

.login-btn {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.4s;
}

.btn-login-primary,
.btn-login-secondary {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  word-spacing: 0.2rem;
  color: #222;
  color: 1f1f1f;
  cursor: pointer;
  padding: 1.5rem;
  margin-bottom: 0.8rem;
  border-radius: 1.5rem;
  font-size: 1.7rem;
  font-weight: 700;
  border: none;
  width: 46%;
  top: 50%;
  right: 50%;
  transform: translateX(50%);
  transform: translateY(50%);
}

.btn-login-secondary {
  position: absolute;
  left: 0.5rem;
  opacity: 0;
  background-color: #f1c27d;
}

.login-btn button {
  transition: all 0.4s;
}

.login-btn .btn-login-secondary {
  transform: rotateX(-90deg);
  transform-origin: top;
}

.login-btn:hover {
  transform: rotateX(90deg);
}

.login-btn:hover .btn-login-primary {
  transform: translateY(-100%);
  opacity: 0;
}

.login-btn:hover .btn-login-secondary {
  opacity: 1;
}

hr {
  margin-top: 6rem;
  margin-bottom: 6rem;
  border-color: #e5e7eb;
}

@media (min-width: 640px) {
  hr {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

@media (prefers-color-scheme: dark) {
  hr {
    border-color: #e2e5ea;
  }
}

@media (min-width: 1024px) {
  hr {
    margin-top: 5rem;
    margin-bottom: 3rem;
    width: 18.5%;
  }
}

.alt-option {
  cursor: pointer;
  margin-left: 4rem;
}

.login-option {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: #fff;
  margin-left: 1.2rem;
  transform: translateY(70%);
}

#login-link {
  color: #f1c27d;
  cursor: pointer;
}

.line-break {
  display: flex;
}

#or {
  transform: translateY(51%);
  font-size: 1.5rem;
  margin-left: 1.5rem;
  color: #f5f5f5;
}

#second-hr {
  margin-left: 1.5rem;
}
